<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <h1>Registro de usuario</h1>
    <form id="formulario" method="POST" action="/registro">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="number" name="edad" placeholder="Edad">
        <input type="text" name="genero" placeholder="Género">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="profesion" placeholder="Profesión">
        <input type="number" name="salario" placeholder="Salario">
        <button>Guardar</button>
    </form>
</body>

</html>